@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --main-bg: 252, 252, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--main-bg));
  overflow-x: hidden;
}

/* Define keyframes */
@keyframes show-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Apply keyframes to loading spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: show-spinner; /* Apply the keyframe animation */
  animation-duration: 2s; /* Set the animation duration to 2 seconds */
  animation-iteration-count: 1; /* Set the animation iteration count to 1 */
  animation-fill-mode: forwards; /* Keep the element in its end state after the animation */
}

/* Apply keyframes to transparent overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20,1), rgba(0, 0, 0, 1));
  background: -webkit-radial-gradient(rgba(20, 20, 20,1), rgba(0, 0, 0,1));
  animation-name: show-spinner; /* Apply the keyframe animation */
  animation-duration: 2s; /* Set the animation duration to 2 seconds */
  animation-iteration-count: 1; /* Set the animation iteration count to 1 */
  animation-fill-mode: forwards; /* Keep the element in its end state after the animation */
}


.loading-img-cont{
  width: 200px;
  position: relative;
}

.loading-img{
  z-index: 10;
  width: 50%;
}

.centerSlugDiv{
  width: 1000px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.toast-active {
  right: 80px!important;
  opacity: 100%!important;
}


